
.container {
    padding-left: 10px;
    padding-right: 10px;
}
.panel-info {
  border-color: #53555b;
  /*borde around*/

}
.panel-info > .panel-heading {
  color: #322d2d;

  /*color text black*/
  border-color: #1b1d1e;
  /*border inferior horizontal*/
}
.panel {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #d8d6f4;
  border: 2px solid transparent;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}

