*{margin:0;}

body{
   background:#e6f4f7;
   /*background: #dfe5ed;*/
   color: #3671a2;
   font-size:16px;
   font-family:Arial;

}
textarea{
  resize: none;
}
.comments-list{
  height: 50px;
  margin: 10px 5px 10px 5px;
  font-size: 13px;
  color: #555;
  border: 1px solid #e1e1e1;
}


ul.comments-holder-ul li.comment-holder{
  list-style-type: none;
  background: #fffff5;
  height: auto;
  width: auto;
  margin: 5px 0 5px 0;
  border: 1px solid #e1e1e1;
  overflow: hidden;
}
ul.comments-holder-ul li.comment-holder:hover{
  background: #FFFFDB;
}
UL.comments-holder-ul li.comment-holder .user-img{
  float: left;
  height: 50px;
  width: 50px;
  background: #a1a1a1;
  
}


#contenido{
   background:#fff;
   margin:20px auto;
   overflow:hidden;
   padding:40px ;
 border:1px solid #2E9AFE;
   width:90%;
   -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
input, select{
   background:#fff;
   border:1px solid #2E9AFE;
   padding:5px;
}
header{
   background:#1C4583;
   color:#fff;
   padding:5px;
   text-align: center
}

footer{
   padding:15px;
   text-align: center

}
footer a{
    color:#FF8000;
    text-decoration: none;
}
footer a:hover{
    color:#F2F5A9;

}

#imageFormation {
    width: 25%;
    padding: 2%;
}

/*for the chapter's div*/
.server-action-menu {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background-repeat: repeat;
    border-radius:10px;
}

.info-panel {
    padding: 4px;
}

/*for the starts to evaluate*/
.ec-stars-wrapper {
  /* Espacio entre los inline-block (los hijos, los `a`) 
     http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
  font-size: 0;
  /* Podríamos quitarlo, 
    pero de esta manera (siempre que no le demos padding), 
    sólo aplicará la regla .ec-stars-wrapper:hover a cuando
    también se esté haciendo hover a alguna estrella */
  display: inline-block;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaño al texto */
  font-size: 32px;
  font-size: 2rem;
  
  color: #888;
}

.ec-stars-wrapper:hover a {
  color: rgb(39, 130, 228);
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
  color: #888;
}

#infovideo {
    font-size: 75%;
}
